---
const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/dferments",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
    },
}
).then((res) => res.json());
---

<ul class="productlist">
  {data
    .filter(product => product.category === 'present')
    .sort(() => 0.5 - Math.random()) // Randomize order
    .slice(0, 4) // Limit to 4 items
    .map((product, index) => (
      <article class="time">
        <a href={`/products/${product.slug}`}>
          <div class="image_container4">
          <img src={product.img} alt={product.beskrivelse} />
          </div>
          <h2>{product.product_name}</h2>
        </a>
      </article>
    ))
  }
</ul>

<style>
  .productlist {
  display: flex;
  flex-wrap:wrap;
  margin: 0 0 48px 0;
}

.time {
  flex-basis: calc(50% - 2rem); /* Beregn bredden på hver time */
  margin: 0 1rem 3rem;
  border-bottom: 2px solid var(--red950);
}

.time a {
  text-decoration: none;
  color: inherit;
  font-size: var(--p-sizeM);
  font-family: var(--primary-font);
}

/* mouse over link */
.time a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.time h2 {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: normal;
}

.image_container4 {
  width: auto;
  height: 280px;
  overflow: hidden; 
}
.time img {
    object-fit: cover; 
    width: 100%;
    height: 100%; 
    border-radius: 10px;
}
@media (min-width: 800px) {
  .productlist {
    margin: 0 0 6rem;
  }
  .time {
    margin: 0 1rem 3.5rem;
  }
  .time a {
    font-size: var(--p-sizeD);
  }
  .image_container4 {
    height: 520px;
  }
}
</style>