---
import MainLayout from "../layouts/MainLayout.astro";
import "../css/about.css"
import "../css/main.css"
---

<MainLayout title="ABOUT">
<h1>ABOUT</h1>
 <div class="hero-image"></div>
 <div class="about_intro">
    <p>Hey there! I'm Damian, your friendly neighbourhood kombucha brewer and founder of D Ferments. Inspired by my background in natural wine and a deep love for fermentation, I've embarked on a journey to create exquisite, handcrafted kombucha and other fermented delights through my project, D Ferments.</p>
 </div>

 <div class="textbox1">
 <div class="image1">
    <img src="/img/DFerments_Still_EWP-30.jpg" alt="bottles on grass">
 </div>
 <div class="about_text order box1">
    <p>My journey into the world of fermen-tation began with natural wine, where I spent seven years working as a wine sommelier.</p>
    <p>During that time, my fascination with fermentation grew, and in April 2023, I finally found the perfect production space to pursue my passion for kombucha and other ferments.</p>
    <p>At D Ferments, I take immense pride in each bottle of kombucha, turning it into a work of art. Bottled in exquisite 750ml champagne-grade bottles, my kombucha stands as a living testament to the finest form of this enchanting beverage. I'm constantly experimenting with different flavors inspired by the seasons, resulting in a diverse and exciting range of kombucha varieties.</p>
 </div>
 </div>

  <div class="textbox2">
  <div class="image2">
    <img src="/img/DFerments_Still_EWP.jpg" alt="Dferments">
 </div>
  <div class="about_text box2">
    <p>From sparkling like a PetNat to still options, every bottle is meticulously hand-painted and labelled with care, showcasing my dedication to craftsmanship.</p>
    <p>Uncompromising quality is my priority. I'm committed to producing top-quality kombucha, preserving its natural goodness and health benefits. To achieve this, I ensure that each bottle is crafted with the utmost care, leaving them unpasteurized and unfiltered for a delightful and refreshing experience for every consumer.</p>
    <p>
Located in Herlev, my production space is the heart of D Ferments. I'm fortunate to share this space with my landlord, who runs a company called Functional Future, making biodynamic ginger shots. Together, we create a vibrant hub of fermentation and healthy beverages.</p>
 </div>
</div>

 <div class="about_boks">
    <div class="ferment_text order">
        <p>In this space, I produce everything by hand, starting with boiling the tea in a 100l pot, multiple times. With eight 150l tanks, I have the capacity to create seven different kombucha varieties, sometimes using different teas for each. The 8th tank serves as a continuous starter and mother liquid, ensuring consistency in every batch.</p>
        <p>I patiently let the tanks and kombucha ferment until they reach the desired level of acidity, which typically takes around four weeks. Once achieved, I infuse the kombucha with carefully selected flavors, letting them sit and macerate for a day or two. After straining, I fill each bottle and manually cap, label, and even paint them, adding a personal touch to every product.</p>
        <p>Cheers to the art of fermentation and the lovely kombucha community!</p>
    </div>
    <div class="ferment_photos">
        <img src="/img/DFerments_Production_1.jpeg" alt="Kombucha production">
        <img src="/img/DFerments_Production__2.jpg" alt="Kombucha production">
        <img src="/img/DFerments_Production__3.jpg" alt="Kombucha production">
        <img src="/img/DFerments_Production__4.jpeg" alt="Kombucha production">
    </div>
 </div>
 <h2>Testimonials</h2>
 <div class="grid_test">
   <div class="test_boks1">
      <div class="image_container">
      <img src="/img/lassefoto.jpg" alt="Avatar">
      </div>
      <h3>Lasse</h3>
      <p>The taste of the products was good and rounded, a bit on the bitter end in a delicious way. I'm not normally into kombucha, but I wouldn't mind tasting that again. It was delicious with different flavors, for different purposes.</p>
   </div>
   <div class="test_boks2">
      <div class="image_container">
      <img src="/img/nopfpfoto.webp" alt="Avatar">
      </div>
      <h3>Mikkel</h3>
      <p>Overall, it was a pleasure to try. The first sip surprised me positively, there was a good balance between acidity and sweetness. However, I could well imagine that I would prefer a sweeter version if I were to drink larger quantities.</p>
   </div>
   <div class="test_boks3">
      <div class="image_container">
      <img src="/img/denisefoto.jpg" alt="Avatar">
      </div>
      <h3>Denise</h3>
      <p>What I experienced was a drink that left a satisfying and complex mix of acidity and sweetness.</p>
   </div>
 </div>
 <h2>Like what you see?</h2>
 <div class="grid_flasker">
 <section class="flasker">
    <!-- noget med mellemrummet mellem map og (show) -->
 <img src="/img/product_1.jpg" alt="Product">
 <img src="/img/product_2.jpg" alt="Product">
 <img src="/img/product_3.jpg" alt="Product">
 <img src="/img/product_4.jpg" alt="Product">
 <img src="/img/product_5.jpg" alt="Product">
 <img src="/img/product_6.jpg" alt="Product">
 <img src="/img/product_7.jpg" alt="Product">
 <img src="/img/product_8.jpg" alt="Product">
</section>
<div class="flasker_text order">
   <p>Discover our premium kombucha range—crafted for health and taste. Explore our flavors and enjoy the perfect probiotic drink.</p>
   <div class="flasker_button">
    <button> <a href="/events">DRINK ME →</a></button>
    </div>
</div>
</div>
<!-- <div class="breakout_container" id="kontakt_org">
            <div>
                <h4>Noget for dig?</h4>
                <p>Kontakt os nu for at få et prisoverslag!</p>
            </div>
             <button> <a href="/contact">CONTACT →</a></button>
        </div> -->
<div class="contact_container">
   <div class="contact_text">
      <div class="contact_h4">
      <h4>Noget for dig?</h4>
      </div>
      <div class="contact_p">
      <p>Kontakt os nu for at få et prisoverslag!</p>
      </div>
   </div>
   <div class="contact_button">
      <button> <a href="/contact">CONTACT →</a></button>
   </div>
</div>
</MainLayout>


