---
import MainLayout from "../layouts/MainLayout.astro";
import "../css/about.css"
import "../css/main.css"
---

<MainLayout title="ABOUT">
<h1>ABOUT</h1>
 <div class="hero-image"></div>
 <div class="about_intro">
    <p>Hey there! I'm Damian, your friendly neighbourhood kombucha brewer and founder of D Ferments. Inspired by my background in natural wine and a deep love for fermentation, I've embarked on a journey to create exquisite, handcrafted kombucha and other fermented delights through my project, D Ferments.</p>
 </div>
</MainLayout>
