---
import MainLayout from "../layouts/MainLayout.astro";
import "../css/events.css";
import "../css/main.css";
---

<MainLayout title="Events & Popups">
  <h1>EVENTS & POPUPS</h1>
  <p class="events_text">
    Seeking to conceptualize an innovative bar arrangement for your event,
    whether alcohol-free or featuring alcoholic beverages? In addition to bar
    services, we also provide catering options. For inquiries regarding upcoming
    events of any nature, please don't hesitate to contact us at
    damian@dferments.dk.
  </p>

  <div class="illustrations">
    <div class="tealeaf_container">
      <div class="tealeaf_sprite"></div>
    </div>
  </div>

  <div class="event_container1">
    <div class="event_text1">
      <h2>BOAT WEDDING <span class="highligt">01.06.2024</span></h2>
      <p>(Hosting a kombucha cocktail bar, snacks and natural wines)</p>
      <h2>ENGHAVE PLADS 9 <span class="highligt">13.04.2024</span></h2>
      <p>
        (Kombucha bar takeover with live music - cocktails, kombuchas and
        snacks)
      </p>
      <h2>ENGHAVE KAFFE <span class="highligt">20.04.2024</span></h2>
      <p>(2nd birthday of D Ferments - kombucha negronis & snacks from 5pm)</p>
      <h2>ENGHAVE PLADS 9 <span class="highligt">13.04.2024</span></h2>
      <p>
        (Kombucha bar takeover with live music - cocktails, kombuchas and
        snacks)
      </p>
      <h2>KRÆFTENS BEKÆMPELSE <span class="highligt">11.04.2024</span></h2>
      <p>(Kombucha bar)</p>
    </div>
    <div class="billede1">
      <img src="/img/events1.webp" alt="Dferments" />
    </div>
  </div>

  <div class="event_container2">
    <div class="billede2">
      <img src="/img/events2.webp" alt="Dferments" />
    </div>
    <div class="event_text2">
      <h2>DANISH COFFEE FESTIVAL <span class="highligt">1-3.03.2024</span></h2>
      <p>(Kombucha lemonade & Kombucha PetNat bar)</p>
      <h2>DANISH COFFEE FESTIVAL <span class="highligt">1-3.03.2024</span></h2>
      <p>(Kombucha lemonade & Kombucha PetNat bar)</p>
      <h2>JOSEPHINE <span class="highligt">29.02.2024</span></h2>
      <p>
        (Kitchen takeover - 6 a la carte kimchi inspired dishes and 5 kombucha
        cocktails)
      </p>
      <h2>SAUNA GUS <span class="highligt">26.02.2024</span></h2>
      <p>
        (A sauna gus session with Benjamin Nybroe accompanied by vegan kimchi
        foccacia and kombucha tasting)
      </p>
      <h2>OMADA WINE <span class="highligt">24.02.2024</span></h2>
      <p>(Kimchi based dishes of the day & Kombucha cocktails)</p>
    </div>
  </div>

  <div class="event_container3">
    <div class="event_text3">
      <h2>FLERE FUGLE <span class="highligt">23.02.2024</span></h2>
      <p>(Kombucha negronis - cocktail bar takeover)</p>

      <h2>DeliDrop FoodLAB <span class="highligt">18.02.2024</span></h2>
      <p>(Kombucha tasting)</p>

      <h2>SIGURD VINBAR <span class="highligt">17.02.2024</span></h2>
      <p>(Kombucha tasting & Kombucha cocktails)</p>

      <h2>ENGHAVE KAFFE <span class="highligt">16.02.2024</span></h2>
      <p>(Aperetivo with kimchi snacks & kombucha cocktails)</p>

      <h2>
        VALENTINE'S DAY POLISH DINNER POP-UP <span class="highligt"
          >14.02.2024</span
        >
      </h2>
      <p>
        (12-course Polish inspired tasting menu with wine & kombucha pairing)
      </p>
    </div>
    <div class="billede3">
      <img src="/img/events3.webp" alt="Dferments" />
    </div>
  </div>

  <h1>Smag os</h1>
  <div class="smag_os">
    <article
      class="time"
      data-astro-cid-jxngdkvz=""
      data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
      data-astro-source-loc="64:39"
    >
      <a
        href="/products/48-pass-me-the-popcorn"
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="65:56"
      >
        <h2
          data-astro-cid-jxngdkvz=""
          data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
          data-astro-source-loc="66:23"
        >
          #48 PASS ME THE POPCORN
        </h2>
      </a>
      <p
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="68:22"
      >
        Genmaicha Tea, Grapefruit
      </p>
      <img
        src="https://jzfjblexhwoijgbgmixy.supabase.co/storage/v1/object/sign/dfermentsimgs/48.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJkZmVybWVudHNpbWdzLzQ4LndlYnAiLCJpYXQiOjE3MTU5NzIwODgsImV4cCI6MTc0NzUwODA4OH0.U3Kjl7f_tmT49zffkqOqWLufiRT-TCHYL54XR6GpnXI&t=2024-05-17T18%3A54%3A47.199Z"
        alt="Genmaicha Tea, Grapefruit"
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="69:20"
      />
    </article>
    <article
      class="time"
      data-astro-cid-jxngdkvz=""
      data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
      data-astro-source-loc="64:39"
    >
      <a
        href="/products/49-first-day-of-spring"
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="65:56"
      >
        <h2
          data-astro-cid-jxngdkvz=""
          data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
          data-astro-source-loc="66:23"
        >
          #49 FIRST DAY OF SPRING
        </h2>
      </a>
      <p
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="68:22"
      >
        Sencha, Btterfly Pea Flower, Rose Petals, Lavender
      </p>
      <img
        src="https://jzfjblexhwoijgbgmixy.supabase.co/storage/v1/object/sign/dfermentsimgs/49.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJkZmVybWVudHNpbWdzLzQ5LndlYnAiLCJpYXQiOjE3MTU5NzMzMTIsImV4cCI6MTc0NzUwOTMxMn0.XBES8f1UKqM4165HLuHc_wHSzuqMjw_1UxENa1JhxYU&t=2024-05-17T19%3A15%3A10.576Z"
        alt="Sencha, Btterfly Pea Flower, Rose Petals, Lavender"
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="69:20"
      />
    </article>
    <article
      class="time"
      data-astro-cid-jxngdkvz=""
      data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
      data-astro-source-loc="64:39"
    >
      <a
        href="/products/53-dont-nap-under-coconut-palm"
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="65:56"
      >
        <h2
          data-astro-cid-jxngdkvz=""
          data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
          data-astro-source-loc="66:23"
        >
          #53 DON’T NAP UNDER COCONUT PALM
        </h2>
      </a>
      <p
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="68:22"
      >
        Japanese sencha with fig leaf and blood orange.
      </p>
      <img
        src="https://jzfjblexhwoijgbgmixy.supabase.co/storage/v1/object/sign/dfermentsimgs/53.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJkZmVybWVudHNpbWdzLzUzLndlYnAiLCJpYXQiOjE3MTYyMTg3MzAsImV4cCI6MTc0Nzc1NDczMH0.dmqMiB3iXJRzd4UC8MwYxx3PdpCYqQhMNwUOjpxyMVE&t=2024-05-20T15%3A25%3A30.279Z"
        alt="Japanese sencha with fig leaf and blood orange."
        data-astro-cid-jxngdkvz=""
        data-astro-source-file="C:/Users/melin/OneDrive/Skrivebord/eksamen_2/src/pages/kombucha.astro"
        data-astro-source-loc="69:20"
      />
    </article>
  </div>
</MainLayout>
