---
import MainLayout from "../layouts/MainLayout.astro";
import "../css/index.css"
import "../css/main.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header></header>
  <body>
    <MainLayout title="HOME">
    <div id="about">
        <div id="about_background"></div>
        <div id="about_elements">
            <div id="text">
                <h1>be curious</h1>
            </div>
        </div>
        <div id="about_elements2">
            <div id="citat">
                <h2>THE finest<br>FERMENTATION<br>PRODUCTS</h2>
            </div>
        </div>
    </div>
    </MainLayout>
 
 <script>
  import { gsap } from "gsap";
    
import { TextPlugin } from "gsap/TextPlugin";


gsap.registerPlugin(TextPlugin);
        const text = document.getElementById('text');
        const range = 16;

        function updateShadow(event) {
            const x = Math.round(event.pageX * range / window.innerWidth) - range / 2;
            const y = Math.round(event.pageY * range / window.innerHeight) - range / 2;
            gsap.to(text, {
                duration: 0.1,
                '--x': x,
                '--y': y,
            });
        }

        document.body.addEventListener('mousemove', updateShadow);
    </script>
  </body>
