---

---

<body>
  <h1>EVENTS & POPUPS</h1>
  <p>
    Seeking to conceptualize an innovative bar arrangement for your event,
    whether alcohol-free or featuring alcoholic beverages? In addition to bar
    services, we also provide catering options. For inquiries regarding upcoming
    events of any nature, please don't hesitate to contact us at
    damian@dferments.dk.
  </p>
</body>
