---

---

<body>
  <div>
    <h1>EVENTS & POPUPS</h1>
    <p>
      Seeking to conceptualize an innovative bar arrangement for your event,
      whether alcohol-free or featuring alcoholic beverages? In addition to bar
      services, we also provide catering options. For inquiries regarding
      upcoming events of any nature, please don't hesitate to contact us at
      damian@dferments.dk.
    </p>
  </div>

  <div class="text_container">
    <h2>BOAT WEDDING 01.06.2024</h2>
    <p>(Hosting a kombucha cocktail bar, snacks and natural wines)</p>

    <h2>ENGHAVE PLADS 9 13.04.2024</h2>
    <p>
      (Kombucha bar takeover with live music - cocktails, kombuchas and snacks)
    </p>

    <h2>ENGHAVE KAFFE 20.04.2024</h2>
    <p>(2nd birthday of D Ferments - kombucha negronis & snacks from 5pm)</p>
  </div>
</body>
