---
import "../css/main.css";
---

<footer>


    
    <section class="menu">
        <div class="wrapper">
            <li><a href="/">DFERMENTS</a></li>
        </div>
        <div class="wrapper">
            <li> <a href="/kombucha">DRINK ME</a></li>
        </div>
        <div class="wrapper">
            <li><a href="/events">EVENTS & POPUPS</a></li>
        </div>
        <div class="wrapper">
            <li><a href="/about">WHO IS D?</a></li>
        </div>
        <div class="wrapper">
            <li><a href="/contact">CONTACT & COLLABS</a></li>
        </div>

    </section>



   




    <section class="icons">

        <div class="fb">
            <a href="https://www.facebook.com/glougloume"><img src="/svg/fb.svg" alt="Facebook icon"></a>
        </div>
        <div class="ig"><a href="https://www.instagram.com/dferments/"><img src="/svg/ig.svg"
                    alt="Instagram icon"></a></div>
        <div class="smiley"><a href="https://www.findsmiley.dk/1241422"><img src="/svg/smiley.svg" alt="Smiley icon"></a></div>
    </section>


    <section class="subscribe">
        <p>DFerments: Secrets Unveiled - <br> Subscribe Now!</p>


        <form class="email-form" action="/subscribe" method="post">

            <input type="email" id="email" name="email" placeholder="Email" required>
            <button type="submit">SUBSCRIBE</button>
        </form>

    </section>

</footer>


<style>
/*mobile*/
/*generel*/

p{
    font-family: var(--primary-font);
}

footer {
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
        justify-content: space-between;
    padding: 3rem;
    position: sticky;
    background-color: var(--beige);
}


/*menu*/

.wrapper li a{
    font-family: var(--h1-font);
  
}

.menu a {
    color: var(--codGrey);
    text-decoration: none;
    font-family: var(--h1-font);
}

.menu li {
    list-style-type: none;
    padding-bottom: 2rem;
}

/*icons*/
 
    .icons div {
        padding-left: 1rem;
        padding-right: 3.5rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
    padding-top: 3rem;
    padding-left: 2.5rem;

    }

    
    .icons {
    display: flex;
    flex-direction: row;
}

    .icons img {
        width: 25px;
    }


   


/*subscribe*/
    .email-form button {

        margin-left: 55px;
        margin-right: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: var(--primary-font);
    }

 
.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form .input {
    padding-bottom: 2rem;
    border: none;
}

.email-form input[type="email"] {


    margin-bottom: 1.5rem;
background-color: var(--beige);
    border: none;
    border-bottom: 1px solid var(--codGrey);
    font-family: var(--primary-font);
}

.email-form input[type="email"]:focus {

    border: none;
    outline: none;
    border-bottom: 1px solid var(--codGrey);
}


.email-form button {
    border: none;
    background-color: var(--yellow600);
    color: var(--beige);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: var(--h2-font);
}



.email-form button:hover {

background-color:#EC8C14;

}

/* desktop*/


@media (min-width: 800px) {
    footer{
    display: flex;
    flex-direction: row;
}
    .icons{
    order: 2;
}

.subscribe{
    order: 0;
}
 

.menu a:hover{
    color: #858585;
}



.icons img {
    width: 30px;
}

.icons img:hover{
    opacity: 60%;
}

}
</style>