

<header>
    <div class="headerm">
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="logo">
            <a class="mobile_logo" href="/"><img src="/svg/logo_d.svg" alt="Dferments' logo"></a>
        </div>
        <div class="basket-icon">
            <a href="#"><img src="/svg/basket.svg" alt="Basket icon"></a>
        </div>
    </div>

    <div class="headerd">
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="logo">
            <a class="desk_only" href="/"><img src="/svg/logo_dferments.svg" alt="Dferments' logo"></a>
        </div>
        <div class="basket-icon">
            <a href="#"><img src="/svg/basket.svg" alt="Basket icon"></a>
        </div>
    </div>

    <ul class="menu">
        <li><a href="/">DFERMENTS</a></li>
        <li><a href="/kombucha">DRINK ME</a></li>
        <li><a href="/events">EVENTS & POPUPS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT & COLLABS</a></li>
    </ul>

    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>

<div class="menu" id="menu">
    <div class="wrapper">
        <li><a href="/index">DFERMENTS</a></li>
    </div>
    <div class="wrapper">
        <li><a href="/kombucha">DRINK ME</a></li>
    </div>
    <div class="wrapper">
        <li><a href="/events">EVENTS & POPUPS</a></li>
    </div>
    <div class="wrapper">
        <li><a href="/about">WHO IS D?</a></li>
    </div>
    <div class="wrapper">
        <li><a href="/contact">CONTACT & COLLABS</a></li>
    </div>
</div>

<style>

/*mobil*/
/*generel*/
* {
margin: 0;
padding: 0;
}
p, a {
font-family: var(--primary-font);
}

    
.headerm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        padding-top: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-bottom: 1px solid var(--codGrey);
}

    .headerd {
        display: none;
    }

/*menu*/


.menu {
display: none;
position: absolute;
background-color: var(--beige);
top: 50px;
left: 0;
width: 100%;
margin: 10px;
padding: 30px;
margin-top: 50px;
box-sizing: border-box;
z-index: 1000;
}

li a{
font-family: var(--h1-font);
font-size: var(--h2-sizeM);
 } 

.menu-icon {
cursor: pointer;
font-size: 30px;
}

.menu-icon:hover {
color: #858585;
}
    
   
.menu a {
color: var(--codGrey);
text-decoration: none;
display: block;
margin-bottom: 15px;
font-family: var(--h1-font);
    }
.menu a:hover {
color: #858585;
       
    }

.menu li {
list-style-type: none;
padding-bottom: 2rem;
    }

/*logo*/

.logo {
text-align: center;
    }
.logo img {
width: 25px;
    }


/*basket*/
 
.basket-icon img {
width: 40px;
height: auto;
}

.basket-icon img:hover {
opacity: 60%;
}
   



/*desktop*/
 @media (min-width: 800px) {

/*generel*/
 .headerd {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1rem;
padding-top: 1.5rem;
padding-left: 3rem;
padding-right: 3rem;
border-bottom: 1px solid var(--codGrey);
        }

.headerm {
display: none;
}

/*menu*/
.wrapper {
display: flex;
width: 100%;
}

.menu{
padding-left: 100px;
}

.wrapper li a {
text-align: left;
width: 100%;
}



/*logo*/
.desk_only img {
width: 120px;
}

.mobile_logo {
            display: none;
}

    }


</style>

<script>
function toggleMenu() {
    var menu = document.getElementById('menu');
    if (menu.style.display === 'none' || menu.style.display === '') {
        menu.style.display = 'block';
    } else {
        menu.style.display = 'none';
    }
}

// Ensure the script runs after the DOM is loaded
document.addEventListener('DOMContentLoaded', function() {
    var menuIcons = document.querySelectorAll('.menu-icon');
    menuIcons.forEach(function(icon) {
        icon.addEventListener('click', toggleMenu);
    });
});
</script>
