<header>
    <nav>

        <ul class="menu">
            <li><a href="/">DFERMENTS</a></li> 
            <li> <a href="/produktliste">DRINK ME</a></li>
            <li><a href="/events">EVENTS & POPUPS</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT & COLLABS</a></li>
            
           
        </ul>
    
         <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>


        <div class="logo">
            <a href="/"><img src="/svg/logo_d.svg" alt="Dferments' logo"></a>
            <a class="desk_only" href="/"><img src="/svg/logo_dferments.svg" alt="Dferments' logo"></a>
        </div>
        <div class="basket"></div>






    </nav>
</header>


<style>

    /*mobile*/

    header{
        background-color: var(--beige);
    }
.desk_only{
    display: none;
}






    /*desktop*/
    @media (min-width:800px) {
.desk_only{
    display: block;
}

    }
</style>