h1 {
  color: var(--red);
  font-family: var(--h1-font);
  font-size: var(--h1-sizeM);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

p {
  font-family: var(--primary-font);
  text-align: justify;
  color: var(--codGrey);
}

h2 {
  color: var(--red);
  font-family: var(--h2-font);
  font-size: var(--h2-sizeM);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h3 {
  color: var(--codGrey);
  font-family: var(--h2-font);
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.hero-image {
  background-image: url("/img/DFerments_Still_EWP-21.jpg");
  height: 60vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  left: 0;
  width: 100%;
}

.about_intro {
  margin: 30px 15%;
}

.about_intro p {
  font-size: var(--p-sizeM);
}

.image1 {
  display: flex;
  justify-content: right;
}
.image1 img {
  width: 97%;
  height: 100vw;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}

.about_text {
  margin: 30px 15%;
  display: grid;
  gap: 15px;
}

.about_text p {
  font-size: var(--p-sizeM);
}

.image2 {
  display: flex;
  justify-content: left;
}

.image2 img {
  width: 97%;
  height: 100vw;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
}

.ferment_text {
  margin: 30px 15%;
  display: grid;
  gap: 15px;
}

.ferment_text p {
  font-size: var(--p-sizeM);
}

.about_boks {
  display: grid;
}

.order {
  order: 1;
}

.ferment_photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 0 15%;
}

.ferment_photos img {
  border-radius: 10px;
}

.grid_test img {
  border-radius: 50%;
  height: 23%;
  width: 23%;
  margin: 0 38.5%;
}

.test_boks1 p,
.test_boks2 p,
.test_boks3 p {
  margin: 0 15%;
  font-size: var(--p-sizeM);
}

.test_boks1,
.test_boks2,
.test_boks3 {
  margin-bottom: 50px;
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--h1-sizeD);
  }

  h2 {
    font-size: var(--h2-sizeD);
    margin: 50px 0;
  }

  h3 {
    font-size: 24px;
  }

  .hero-image {
    background-image: url("/img/dferments_about2.png");
  }

  .about_intro {
    margin: 30px 15%;
  }

  .about_intro p {
    font-size: var(--p-sizeD);
  }

  .textbox1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }

  .image1 {
    display: flex;
    justify-content: right;
  }
  .image1 img {
    width: 97%;
    height: 40vw;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  .about_text {
    margin: 30px 0;
    display: grid;
    gap: 15px;
  }

  .box1 {
    margin-left: 30%;
    margin-right: 50px;
  }

  .box2 {
    margin-right: 30%;
    margin-left: 50px;
  }

  .about_text p {
    font-size: var(--p-sizeD);
  }

  .textbox2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .image2 {
    display: flex;
    justify-content: left;
  }

  .image2 img {
    width: 97%;
    height: 40vw;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
  }

  .ferment_text {
    display: grid;
    margin: 0 0;
    gap: 15px;
  }

  .ferment_text p {
    font-size: var(--p-sizeD);
  }

  .about_boks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 15%;
    gap: 40px;
  }

  .order {
    order: -1;
  }

  .ferment_photos {
    height: 40vw;
    margin: 0 0;
  }

  .ferment_photos img {
    border-radius: 10px;
    height: 20vw;
  }

  .grid_test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15%;
    gap: 100px;
  }

  .grid_test img {
    border-radius: 50%;
    height: 25%;
    width: 30%;
    margin: 0 35%;
  }

  .test_boks1 p,
  .test_boks2 p,
  .test_boks3 p {
    margin: 0 0;
    font-size: var(--p-sizeD);
  }

  .test_boks1,
  .test_boks2,
  .test_boks3 {
    margin-bottom: 50px;
  }

  .image-container {
    width: 200px; /* Set the desired width for the cropped area */
    height: 200px; /* Set the desired height for the cropped area */
    overflow: hidden; /* Hide any content outside the container */
    border-radius: 100%;
  }

  .image-container img {
    object-fit: cover; /* Ensure the image covers the container */
    width: 100%; /* Make sure the image takes up 100% of the container */
    height: 100%; /* Make sure the image takes up 100% of the container */
  }
}
