h1 {
  color: var(--red);
  font-family: var(--h1-font);
  font-size: var(--h1-sizeM);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
}
.events_text {
  font-family: var(--h2-font);
  font-size: var(--p-sizeM);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 6rem;
  text-align: center;
}

h2 {
  font-family: var(--h2-font);
  font-size: 17px;
}
p {
  font-size: 15px;
}

.highligt {
  color: var(--yellow600);
}

/* ----- MOBIL -------- */
@media (max-width: 800px) {
  /*  FØRSTE AFSNIT   */
  .event_container1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .event_text1 {
    margin-left: 30px;
    align-content: center;
  }
  .event_text1 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text1 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }
  .billede1 img {
    width: 100%;
    height: 100vw;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    margin-bottom: 2rem;
  }

  /*   ANDET AFSNIT   */
  .event_container2 {
    margin-bottom: 3rem;
  }
  .event_text2 {
    margin-left: 30px;
    align-content: center;
  }
  .event_text2 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text2 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }

  .billede2 img {
    width: 100%;
    height: 100vw;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    margin-bottom: 2rem;
  }

  /*   TREDJE AFSNIT   */
  .event_container3 {
    margin-bottom: 5rem;
  }
  .event_text3 {
    margin-left: 30px;
    align-content: center;
  }
  .event_text3 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text3 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }

  .billede3 img {
    width: 100%;
    height: 100vw;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    margin-bottom: 2rem;
  }

  .smag_os {
    padding: 50px;
  }
  .time h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-family: var(--h2-font);
    color: var(--yellow600);
    text-transform: uppercase;
    font-style: italic;
  }
  .time a {
    color: var(--yellow600);
  }

  .time p {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: var(--h2-font);
  }

  .time img {
    margin-top: 8px;
    margin-bottom: 48px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
  }
}

/* ----- COMPUTER -------- */
@media (min-width: 800px) {
  .illustrations {
    position: relative;
  }

  .tealeaf_container {
    position: absolute;
    width: 22%;
    aspect-ratio: 294/436;
    top: 20%;
    left: 5%;
    transform: translateY(-380%);
  }

  .tealeaf_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/img/tealeaf.svg);
    background-size: cover;
  }

  /*  FØRSTE AFSNIT   */
  .event_container1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .event_text1 {
    margin-left: 40px;
    align-content: center;
  }
  .event_text1 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text1 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }

  .billede1 img {
    width: 100%;
    height: 35vw;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  /*   ANDET AFSNIT   */
  .event_container2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 3rem;
  }
  .event_text2 {
    margin-left: 70px;
    align-content: center;
  }
  .event_text2 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text2 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }

  .billede2 img {
    width: 100%;
    height: 35vw;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
  }

  /*   TREDJE AFSNIT   */
  .event_container3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 5rem;
  }
  .event_text3 {
    margin-left: 40px;
    align-content: center;
  }
  .event_text3 h2 {
    margin-bottom: 10px; /* Mellemrum under hver h2 */
  }
  .event_text3 p {
    margin-bottom: 20px; /* Mellemrum under hver p */
  }

  .billede3 img {
    width: 100%;
    height: 35vw;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  .smag_os {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
    padding: 50px;
    align-items: stretch;
  }

  .time h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-family: var(--h2-font);
    color: var(--yellow600);
    text-transform: uppercase;
    font-style: italic;
  }
  .time a {
    color: var(--yellow600);
  }

  .time p {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-family: var(--h2-font);
  }

  .time img {
    margin-top: 8px;
    margin-bottom: 48px;
    margin: auto;
    height: 510px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
  }
}
