#about {
  width: 100%;
  aspect-ratio: 390/820;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}

#about_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(/img/index_mobilhero.svg);
}

#about_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 0;
}

#about_elements2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65%;
  left: 0%;
}

h1 {
  text-transform: uppercase;
  font-family: var(--h1-font, Arial, sans-serif);
  color: var(--yellow, #ffeb3b);
  font-size: 16vw;
}

#text {
  display: flex;
  justify-content: center;
  text-shadow: calc(var(--x) * -1) calc(var(--y) * -1) 0px #e7861b, calc(var(--x) * -2) calc(var(--y) * -2) 0px #d2430d, calc(var(--x) * -3) calc(var(--y) * -3) 0px #bd0200;
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--h2-font);
  font-size: 8vw;
  color: var(--red950);
}

:root {
  --x: -8px;
  --y: -8px;
}

@media (min-width: 800px) {
  #about {
    aspect-ratio: 1512/930;
  }

  #about_background {
    background-image: url(/img/index_background.svg);
  }

  #about_elements {
    top: 10%;
    left: 0;
  }

  #about_elements2 {
    top: 50%;
    left: 10%;
  }

  h2 {
    text-align: center;
    display: flex;
    justify-content: left;
    font-size: 2.4vw;
  }
}
