#about {
  width: 100%;
  aspect-ratio: 1512/930;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}

#about_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(/img/index_background.svg);
}

#about_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  /* left: 45%; */
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-family: var(--h1-font);
  color: var(--yellow);
  font-size: 16vw;
  text-shadow: 8px 8px 0px var(--red);
}
