* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige);
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}

/* fontface */
@font-face {
  font-family: "silkflower";
  src: url("/fonts/silkflower.woff") format("woff"), url("/fonts/silkflower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* variabler*/

:root {
  /*farver*/
  /* fuel yellow*/
  --yellow: #f2a922;
  --yellow600: #d1680e;

  /*totem pole */
  --red: #bd0200;
  --red950: #560100;

  /*beige*/
  --beige: #fffbf5;
  --beigeD: #efe0c9;

  /* cod grey*/
  --codGrey: #0d0d0d;

  /* white*/
  --white: #ffffff;

  /*fonts*/

  --h1-font: "silkflower";
  --h2-font: "questa", serif;
  --primary-font: ;

  /*font size - mobil*/
  --h1-sizeM: 40px;
  --h2-sizeM: 24px;
  --p-sizeM: 18px;

  /*font size - desktop*/
  --h1-sizeD: 60px;
  --h2-sizeD: 32px;
  --p-sizeD: 24px;
}
